.main {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0 15px 0 15px;
}

.main__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help-container {
    position: absolute;
    right: 10px;
    top: 10px;
}

.help-container__btn {
    --ion-color-primary: black
}