.toolbar__logo{
    height: 50px;
}

.toolbar__title {
    --color: #ffffff;
    font-size: 24px;
}

.toolbar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
}

.ion-toolbar {
    --background: var(--ion-color-primary);
}

.toolbar__back-btn{
    --color: #ffffff;
}