.bold-name {
    color: #127780;
}

div.chip {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 20%;
}

.chip-type {
    height: 50px;
    background-color: var(--ion-color-primary);;
    color: #ffffff;
}

.videocall-button {
    margin-top: 20%;
}